<!-- -------------------------------------------CONTACT US----------------------------------------- -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


<!-- <h2 style="text-align: center; font-size: 50px; margin-top: 45px; font-family: bold;">CONTACT US</h2> -->
<!-- <hr> -->
<div class="container-fluid" style="background-color: #F6F1F1; height: 500px;">

    <div class="con">
        <h3>CRUSADER is the ideal gaming and entertainment haven that you have been searching for! </h3>
        <h3 style="padding-top: 0;">We'd love to hear from you.</h3>
    </div>

    <div class="row" style="display: flex; padding:0px;">
        <div class="col-3">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4156.627716620171!2d72.73222081167472!3d21.180793640718885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04d18610ded8b%3A0x31f021b15a694735!2sSRKay%20Consulting%20Group!5e0!3m2!1sen!2sin!4v1704870977892!5m2!1sen!2sin"
                width="300" height="270" margin-top="100px" style="border:1px;  margin: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-2">
            <div class="games">
                <h3 style="margin-left: 50px;  margin-top: 40px;">Games</h3>
                <p>bowlling</p>
                <p>go-karting</p>
                <p>Turf</p>
                <p>Gaming Arcades</p>
                <p>Virtual Reality</p>
            </div>
        </div>

        <div class="col-2">
            <div class="games">
                <h3 style="margin-left: 50px;  margin-top: 40px;">Amusement</h3>
                <p>party</p>
                <p>Games</p>
            </div>
        </div>

        <div class="col-2">
            <div class="games">
                <h3 style="margin-left: 50px;  margin-top: 40px;">Quick Links</h3>
                <p>contect-us</p>
                <p>Games</p>
            </div>
        </div>

        <div class="col-2" style="text-align: center;">
            <h3 style="margin-top: 40px;">Follow us on</h3>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>