<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<div class="head">
    <app-header></app-header>
</div>
 
 <!-- Menu Start -->
 <div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;" data-aos="fade-down" >drinks &  dessert </h4>
            <h1 class="display-4" style="color: #081351;" data-aos="fade-down">EXCLUSIVE BAVERAGES</h1>
        </div>
        <div class="row" style="margin-left: 200px;">
            <div class="col-lg-6">
                <h1 class="mb-5" style="color: #6D4F2D;" data-aos="fade-right">HOT COFFEE</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/cappuccino.jpg" alt="">
                        <h5 class="menu-price">350</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4 data-aos="fade-right">Cappuccino</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/black.jpg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4 data-aos="fade-right">Black Hot Coffee</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/hot.jpg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Hot Coffee</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5"style="color: #6D4F2D;"  data-aos="fade-left">COLD COFFEE</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/cold.jpg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Cold Coffee</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/caramel.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Caramelisied Salted</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/butterscotch.jpg" alt="">
                        <h5 class="menu-price">350</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Butterscotch Coffee</h4>
                    </div>
                </div>
            </div>



            <div class="col-lg-6">
                <h1 class="mb-5" style="color: #6D4F2D;"  data-aos="fade-down">TONIC WATER DRINKS</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/strawt.jpg" alt="">
                        <h5 class="menu-price">200</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Stwarberry Tonic</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/limet.jpg" alt="">
                        <h5 class="menu-price">200</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Lime Tonic</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/MINTT.jpg" alt="">
                        <h5 class="menu-price">200</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Mint Tonic</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5" style="color: #6D4F2D;">MOJITO</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/passion.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Passion Mojito</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/strawm.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Strawberry Mojito</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/virgin.jpg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Virgin Mojito</h4>
                    </div>
                </div>
            </div>



             <div class="col-lg-6">
                <h1 class="mb-5" style="color: #6D4F2D;"  data-aos="fade-down">SHAKES</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/almond.jpg" alt="">
                        <h5 class="menu-price">350</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Alomond Shake</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/blueberry.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Blueberry Shake</h4>
                    </div>
                </div>
                 <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/os.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Oreo Shake</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/banana.jpg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Banana Shake</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/choco.jpeg" alt="">
                        <h5 class="menu-price">250</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Chocolate Shake</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5" style="color: #6D4F2D;">CHEESECAKES</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/cherry.jpeg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-down">Cherry Cheesecake</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/sc.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Caramelisied Salted</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/oc.jpg" alt="">
                        <h5 class="menu-price">300</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Oreo Cheesecake</h4>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="../../assets/img/rv.jpg" alt="">
                        <h5 class="menu-price">350</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4  data-aos="fade-right">Red Velvet</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->

<app-footer></app-footer>