<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- navbar -->
<div class="head">
    <app-header></app-header>
</div>

<!-- img  -->
<div class="all-games">
    <img src="../../assets/background-img-amusement.png" style="width:100%">
    <div class="content">
        <h1 style="font-size: 70px;"  data-aos="fade-down">Games</h1>
        <p style="font-size: 20px;"  data-aos="fade-up">It's always a good idea to play all kinds of exciting and fun games! <br>
            Experience the best moments of your life, all in one day.</p>
    </div>
    <div class="banner">
        <img src="../../assets/carting-stiker.png"  data-aos="zoom-in">
    </div>
</div>

<div class="con">
    <p data-aos="fade-down">Have Lots Of Fun</p>
    <h1 style=" color:#1c2c89;" data-aos="fade-down">DISCOVER THE PLAYER IN YOU</h1>
    <p data-aos="fade-up"> Once you start playing with us, you would not want to stop!</p>
    <button class="glow-on-hover" type="button" data-aos="fade-up">CONTACT NOW!</button>
</div>


<!-- section games -->
<!-- one  -->
<div class="container">
    <div class="img1">
        <img class="d-block" src="../../assets/bowlling-c.png" alt="First slide" data-aos="zoom-in">
    </div>
    <div class="test-msg" data-aos="fade-left">
        <h3>Bowling</h3>
        <p>Our alley is waiting for your marvellous bowling feat! The beauty of our Spark Technology will make you fall
            in love with this experience much more than you think!
        </p>
    </div>
</div>

<!-- two -->
<div class="container2">
    <div class="test-msg"  data-aos="fade-right">
        <h3>Virtual Reality</h3>
        <p>Step into the immersive realm of Virtual Reality with our games, whose cutting-edge technology promises you
            gripping and fantastical experiences like never before!</p>
    </div>
    <div class="img1"  data-aos="zoom-in">
        <img class="d-block" src="../../assets/leser-c.png" alt="First slide">
    </div>
</div>

<!-- three -->
<div class="container3">
    <div class="img1">
        <img class="d-block" src="../../assets/go-karting-c.png" alt="First slide"  data-aos="zoom-in">
    </div>
    <div class="test-msg" data-aos="fade-left">
        <h3>Go Karting</h3>
        <p>Race into a world of thrills as you put on your helmet and strap into the driver's seat! Accelerate your way
            to victory as you speed and conquer the track!!</p>
    </div>

</div>

<!-- four -->
<div class="container2">
    <div class="test-msg"  data-aos="fade-right">
        <h3>Gaming Arcade</h3>
        <p>Enter into a joy-filled atmosphere of games, where thrills and laughter intertwine to deliver you an electrifying and immersive experience in a versatile arcade!</p>
    </div>
    <div class="img1"  data-aos="zoom-in">
        <img class="d-block" src="../../assets/arcade-game.png" alt="First slide">
    </div>
</div>

<!-- one  -->
<div class="container">
    <div class="img1">
        <img class="d-block" src="../../assets/bowlling-c.png" alt="First slide" data-aos="zoom-in">
    </div>
    <div class="test-msg" data-aos="fade-left">
        <h3>Bowling</h3>
        <p>Our alley is waiting for your marvellous bowling feat! The beauty of our Spark Technology will make you fall
            in love with this experience much more than you think!
        </p>
    </div>
</div>

<!-- two -->
<div class="container2">
    <div class="test-msg"  data-aos="fade-right">
        <h3>Virtual Reality</h3>
        <p>Step into the immersive realm of Virtual Reality with our games, whose cutting-edge technology promises you
            gripping and fantastical experiences like never before!</p>
    </div>
    <div class="img1"  data-aos="zoom-in">
        <img class="d-block" src="../../assets/leser-c.png" alt="First slide">
    </div>
</div>

<!-- three -->
<div class="container3">
    <div class="img1">
        <img class="d-block" src="../../assets/go-karting-c.png" alt="First slide"  data-aos="zoom-in">
    </div>
    <div class="test-msg" data-aos="fade-left">
        <h3>Go Karting</h3>
        <p>Race into a world of thrills as you put on your helmet and strap into the driver's seat! Accelerate your way
            to victory as you speed and conquer the track!!</p>
    </div>

</div>

<!-- four -->
<div class="container2">
    <div class="test-msg"  data-aos="fade-right">
        <h3>Gaming Arcade</h3>
        <p>Enter into a joy-filled atmosphere of games, where thrills and laughter intertwine to deliver you an electrifying and immersive experience in a versatile arcade!</p>
    </div>
    <div class="img1"  data-aos="zoom-in">
        <img class="d-block" src="../../assets/arcade-game.png" alt="First slide">
    </div>
</div><br><br>


<app-footer></app-footer>