<div class="head">
  <app-header></app-header>
</div>

<!-- bg-img===================== -->
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/turfbg.webp" class="d-block w-100" style="position: relative; margin-top: 75px;" height="355px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="content">
          <h1>TURF BOOKING</h1>
          <p>Book your turf slot here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- week cards====================== -->
<div class="container">
  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>SUNDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>MONDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>TUESDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>WEDNESDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>THURSDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>FRIDAY</h5>
      </div>
    </div>
  </div>

  <div class="card w-20 l-bg-green-dark">
    <div class="p-4">
      <div class="days">
        <h5>SATURDAY</h5>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<!-- booking form------------------------- -->
<!-- <div class="container"> -->
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form method="post" action="/api/login">
    <h3>Login Here</h3>

    <label for="username">teamname</label>
    <input type="text" placeholder="name" id="username">

    <label for="register id">register id</label>
    <input type="number" placeholder="id" id="id">

    <label for="gender">gender</label>
    <input type="text" placeholder="gender" id="gender">

    <label for="slot-timing">slot-timing</label>
    <input type="number" placeholder="time" id="time">

    <label for="contect-no">contect-no</label>
    <input type="number" placeholder="contect-no" id="no">

    <label for="email">email-id</label>
    <input type="email" placeholder="email-id" id="id">

    <button>Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
  </form>
<!-- </div> -->