<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<div class="head">
    <app-header></app-header>
</div><br>

<div class="content">
    <h2 data-aos="fade-down">CRUSADER MOMENTS</h2>
    <p data-aos="fade-up">A compilation of all your wonderful moments and memories!</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img src="../../assets/arcade.jpg">
            <img src="../../assets/bowling1.jpg">
            <img src="../../assets/go2.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/go.jpg">
            <img src="../../assets/golf3.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/bowling4.jpg">
            <img src="../../assets/golf.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/laser2.jpg">
            <img src="../../assets/go4.jpg">
        </div>
    </div>
</div>

<!-- champions  -->
<div class="champions-img">
    <div class="champions">
     <img src="../../assets/champions-gallery.png" alt="" class="m-auto d-block animate__animated animate__fadeInLeft" data-aos="fade-right" >
    </div>
    <div class="content2">
      <p data-aos="fade-down">Winners Paradise</p>
      <h1 style="color:#1c2c89;" data-aos="fade-down">CHAMPIONS GALLERY</h1>
      <p data-aos="fade-down">Your skills and winning scores can bring home a lot more than you think! Take a look!</p>
      <button class="glow-on-hover" type="button" data-aos="fade-up">OUR CHAMPIONS!</button>
    </div>
 </div>


<app-footer></app-footer>